body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    color: #c9d1d9;
    background-color: #0d1117;
}

/* NAVBAR */
.navbar {
    background-color: #161b22;
    padding: 0 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    border-bottom: 1px solid #30363d;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 25px;
}

.navbar a {
    color: #c9d1d9;
    text-decoration: none;
    font-size: 14px;
}

.navbar a:hover {
    color: #58a6ff;
}

/* DROPDOWN */
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 65px;
    left: 0;
    background-color: #161b22;
    border: 1px solid #30363d;
    border-radius: 6px;
    min-width: 200px;
    flex-direction: column;
}

.dropdown-content a {
    padding: 12px 15px;
}

.dropdown:hover .dropdown-content {
    display: flex;
}

/* HERO */
.hero-container {
    padding: 140px 60px;
    max-width: 1100px;
}

.hero-text h1 {
    font-size: 56px;
    margin: 0;
}

.hero-text h2 {
    font-size: 22px;
    color: #8b949e;
    margin-top: 12px;
}

.hero-text p {
    margin-top: 30px;
    font-size: 17px;
    max-width: 750px;
    color: #8b949e;
}

.hero-buttons {
    display: flex;
    gap: 15px;
    margin-top: 30px;
}

/* BUTTONS */
.btn-primary {
    background-color: #238636;
    color: white;
    padding: 12px 22px;
    border-radius: 6px;
    font-size: 14px;
    text-decoration: none;
    display: inline-block;
}

.btn-primary:hover {
    background-color: #2ea043;
}

.btn-secondary {
    border: 1px solid #30363d;
    padding: 12px 22px;
    border-radius: 6px;
    font-size: 14px;
    text-decoration: none;
    color: #c9d1d9;
    display: inline-block;
}

.btn-secondary:hover {
    background-color: #21262d;
}

/* WRITEUPS */
.writeup-container {
    max-width: 850px;
    margin: 120px auto;
    padding: 0 40px;
}

.writeup-card {
    background-color: #161b22;
    padding: 30px;
    border-radius: 8px;
    border: 1px solid #30363d;
}
